<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>vue</title>
</head>
<body>
  <div id="app">
    <!-- 当name的属性一致时，radio的选择会变成互斥 -->
    <!-- <label for="male">
      <input type="radio" name="sex" value="男">男
    </label>
    <label for="female">
      <input type="radio" name="sex" value="女">女
    </label> -->

    <!-- 将name绑定v-model后，name属性可省略，且选择依然是互斥的 -->
    <label for="male">
      <input type="radio" value="男" v-model="sex">男
    </label>
    <label for="female">
      <input type="radio" value="女" v-model="sex">女
    </label>

    <h2>性别:{{sex}}</h2>
  </div>
</body>
<script>
  const app = new Vue({
    el: '#app', 
    data: {
      message: "hello",
      sex: "男"
    },
    methods: {

    },
  })
</script>
</html>