<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>vue</title>
</head>
<body>
  <div id="app">
    <!-- checkbox单选示例,v-model绑定一个Boolean值，选中为true没选中为false，也可通过设置Boolean的初始值来初始化checkbox是选中还是未选中 -->
    <label for="agreement">
      <input type="checkbox" v-model="isAgree">同意协议
    </label>
    <br>
    <button :disabled="!isAgree">下一步</button>

    <br>
    <br>
    <br>
    <!-- checkbox多选案例，v-model绑定一个数组，可将多条元素组成一个数组 -->
    <label for="">
      <input type="checkbox" value="篮球" v-model="habbies">篮球
      <input type="checkbox" value="足球" v-model="habbies">足球
      <input type="checkbox" value="羽毛球" v-model="habbies">羽毛球
      <input type="checkbox" value="乒乓球" v-model="habbies">乒乓球
      <input type="checkbox" value="高尔夫" v-model="habbies">高尔夫
    </label>
    <h2>habbies: {{habbies}}</h2>

  </div>
</body>
<script>
  const app = new Vue({
    el: '#app', 
    data: {
      message: "hello",
      isAgree: false,
      habbies: [],
    },
    methods: {

    },
  })
</script>
</html>